<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <span class="flex-grow-1 fw-bold">
        Nome
      </span>
      <span>
        <%= customer.name %>
      </span>
    </div>
  </div>
  <% if policy(customer).update? %>
    <div class="card-footer">
      <%= link_to "Editar", edit_customer_path(customer), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
    </div>
  <% end %>
</div>